.admin-page{
  height: 100vh;
  background-color: #D4A7A7;
  padding-top: 50px;

  .admin-children{
    padding-top: 15px;
  }

  .well{
    width: 90%;
    margin: 20px auto;
    background-color: white;
  }
}
