.admin-page{
  height: 100vh;
  background-color: #D4A7A7;
  padding-top: 50px;

  .well{
    width: 90%;
    margin: 20px auto;

    .button-container{
      text-align: right;

      *{
        margin: 0 2px;
      }
    }
  }
}

.guest-import{
  textarea{
    width: 100%;
    resize: vertical;;
  }
}
