.manual-rsvp-page {
  background-color: #9A7F84;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/DDE-21.jpg") no-repeat center center fixed;
  background-size: cover;
  &.password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .hint {
      color: white;
      font-size: 14px;
      text-shadow: 1px 1px #2B2D2F;
    }
    .input-group {
      width: 300px;
    }
  }
  .guest-name {
    margin-bottom: 5px;
  }
  .is-veggie {
    margin-left: 10px;
  }
  label {
    font-weight: 200;
  }
  .button-container {
    text-align: right;
  }
  .envelope {
    margin-left: 20px;
    margin-top: 95px;
    z-index: 0;
    border-style: solid;
    border-width: 0 250px 100px 250px;
    border-color: transparent transparent #256a98 transparent;
    box-shadow: 0 100px 0 0 #256a98, 0 150px 90px 0 rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 400px;
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 100px;
      border-style: solid;
    }
    &:after {
      width: 0;
      height: 0;
      left: -41px;
      border-width: 94px 292px 130px 0;
      border-color: transparent #2a7fb5 transparent transparent;
    }
    &:before {
      width: 500px;
      height: 180px;
      left: -251px;
      border-width: 224px 0 0 503px;
      border-color: transparent transparent transparent #3596da;
    }
  }
  .card {
    width: 440px;
    min-height: 650px;
    position: absolute;
    top: -415px;
    left: -215px;
    z-index: -1;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
    padding: 15px;
    font-size: 16px;
  }
}
