.photos-page{
  display: flex;
  justify-content: center;
  align-content: center;

  .well{
    margin-top: 200px;
    height: 400px;
    box-shadow: 0 0 20px #8F8F8F;
  }

  canvas{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
