.photos-page{
  display: flex;
  justify-content: center;
  align-content: center;

  .photos-container{
    margin-top: 50px;
    padding: 15px;
  }
  article {
    -moz-column-width: 20em;
    -webkit-column-width: 20em;
    -moz-column-gap: 0px;
    -webkit-column-gap: 0px;
  }
  section {
    display: inline-block;
    margin: 0px;
    width: 100%;
    padding: 2px;
    background: white;
    transition: all 0.5s ease;
    text-align: center;
  }

  .preview{
    width: 100%;
    min-height: 200px;
    cursor: pointer;
  }

  .background{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #F2687F;
    z-index: -1;
  }
}
